rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /mensagens/{mensagemId} {
      allow create: if request.auth != null;
      allow read: if false;
      allow update, delete: if false;
    }
  }
}